.Login {
  font-size: 20px;
  color: black;
  align-self: left;
  margin-top: 2px;
  padding-left: 1400px;
}
.Results-section {
  margin: 10rem;
}

.Main-container{
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
}

.Search-section .search-flight p{
 color: white;
}

@media only screen and (max-width: 620px){
  .Search-section .search-flight p{
    color: rgb(59, 59, 59);
   }
}